/* general reset */
:root {
  --clr-white: 0 0% 100%;
  --clr-black: 230 35% 7%;
  --clr-primary: 231 77% 80%;

  --fm-serif: "Bellefair", serif;
  --fm-sans: "Barlow", sans-serif;
  --fm-sans-condensed: "Barlow Condensed", sans-serif;

  --fs-200: 1.4rem;
  --fs-300: 1.6rem;
  --fs-400: 1.8rem;
  --fs-500: 2.8rem;
  --fs-600: 3.2rem;
  --fs-700: 5.6rem;
  --fs-800: 10rem;
  --fs-900: 15rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;

  font-family: var(--fm-sans);
  font-size: var(--fs-400);
  line-height: 1.5;

  color: hsl(var(--clr-primary));
  background-color: hsl(var(--clr-black));

  box-sizing: border-box;
}

img,
picture {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* remove animations when turned off */

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.1ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* utility */

.flex {
  display: flex;
  gap: var(--gap, 1.6rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1.6rem);
}

.container {
  max-width: 80rem;
  margin-inline: auto;
  padding-inline: 2em;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.flow > *:where(:not(:first-child)) {
  margin-block-start: var(--flow-space, 1.6rem);
}

/* colors */

.bg-black {
  background-color: hsl(var(--clr-black));
}

.bg-white {
  background-color: hsl(var(--clr-white));
}

.bg-primary {
  background-color: hsl(var(--clr-primary));
}

.text-black {
  color: hsl(var(--clr-black));
}

.text-white {
  color: hsl(var(--clr-white));
}

.text-primary {
  color: hsl(var(--clr-primary));
}

/* typography */

.fm-serif {
  font-family: var(--fm-serif);
}
.fm-sans {
  font-family: var(--fm-sans);
}
.fm-sans-condensed {
  font-family: var(--fm-sans-condensed);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

.numbered-title {
  color: hsl(var(--clr-white));
  font-family: var(--fm-sans-condensed);
  font-size: var(--fs-500);
  letter-spacing: 4.72px;
  text-transform: uppercase;
}

.numbered-title > span {
  color: hsla(var(--clr-white) / 0.25);
  font-weight: 700;
  margin-inline-end: 1.6rem;
}

/* components */

.large-button {
  --size: 27.4rem;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);

  text-decoration: none;

  border-radius: 50%;

  aspect-ratio: 1 / 1;
  z-index: 1;
}

.large-button::after {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 100%;

  background-color: hsla(var(--clr-white) / 0.25);
  border-radius: 50%;

  opacity: 0;
  content: "";
  z-index: -1;
  transition: opacity 250ms linear, transform 500ms ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
  opacity: 1;
  transform: scale(1.6);
}

.primary-navigation {
  list-style: none;
}

.primary-navigation a {
  text-decoration: none;
}

.primary-navigation a > span {
  font-weight: 700;
  margin-right: 0.8rem;
}

.underline-indicators li > * {
  display: block;
  position: relative;
  padding-block: var(--underline-gap, 1.6rem);
}

.underline-indicators li > *::after {
  position: absolute;
  bottom: 0;

  display: block;
  width: 100%;
  height: 0.3rem;

  background-color: hsla(var(--clr-white) / 0.25);

  opacity: 0;
  content: "";
}

.underline-indicators li > *:hover:after,
.underline-indicators li > *:focus:after {
  opacity: 1;
}

.underline-indicators li.active > *::after {
  opacity: 1;
  background-color: hsl(var(--clr-white));
}

.tab-list {
  list-style: none;
}

.tab-list button {
  border: unset;
  background-color: unset;

  cursor: pointer;
}

.tab-list button[aria-selected="true"] {
  color: hsl(var(--clr-white));
}

.dot-indicators > button {
  --size: 1.5rem;

  width: var(--size);
  height: var(--size);

  border: unset;
  border-radius: 50%;
  background-color: hsla(var(--clr-white) / 0.25);

  cursor: pointer;
  aspect-ratio: 1;
}

.dot-indicators > button:hover,
.dot-indicators > button:focus {
  background-color: hsla(var(--clr-white) / 0.5);
}

.dot-indicators > button[aria-selected="true"] {
  background-color: hsl(var(--clr-white));
}

.numbered-indicators > button {
  --size: 8rem;

  width: var(--size);
  height: var(--size);

  color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-black));
  border-radius: 50%;
  border: 1px solid hsla(var(--clr-white) / 0.25);

  aspect-ratio: 1;
  cursor: pointer;
}

.numbered-indicators > button:hover,
.numbered-indicators > button:focus {
  border-color: hsl(var(--clr-white));
}

.numbered-indicators > button[aria-selected="true"] {
  color: hsl(var(--clr-black));
  border-color: hsl(var(--clr-white));
  background-color: hsl(var(--clr-white));
}
